
/*
Pink 		#b7124c
DarkPink	#770C34
DarkBlue	#094d5d
Blue		#0088aa
*/

*{margin:0; padding:0;}

body{
	font-family: Helvetica, Arial, "DejaVu Sans", sans-serif;
	background-image: url(img/tile.gif);
	background-color: #fcfdfd;
}

.translucent{
	opacity:0.75;
}

p, .opaque{
	opacity: 1.0;
}

#wrapper{
	margin: 1%;
}

.pink{
	background-color: #b7124c;
}

.blue{
	background-color: #0088aa;
}

.frame{
	margin: 2% 5%;
	border-radius: 20px;
	width: auto;
	padding: 10px 10px 25px 10px;
}

.content{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

img#logo{
	border: none;
	width: 25%;
	margin: 16px 5%;
}

li, p, h1, h2{
	margin-bottom: 0.5em;
}

li{
	margin-left: 2em;
}

#flourish{
	position: fixed;
	top: 4%;
	height: 98%;
	left: 10px;
	z-index: -1;
}

div#copyrightFrame{
	text-align: center;
	padding: 2px;
}

p#copyright{
	margin: 0;
	line-height: 20px;
	font-size: smaller;
}
